/* ====================================
// css variables
// ==================================== */

:root {
  --primary-color: #cb7266;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Mukta", sans-serif;
  background: #0d0c11;
  color: white;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffeeb08e;
  border: 1px solid #ffd737;
} */

span {
  font-weight: bold;
}

header {
  color: var(--primary-color);
  font-size: 32px;
  padding-bottom: 80px;
}

.title-box {
  padding: 34px 0 20px;
}

h1 {
  font-weight: normal;
  font-size: 32px;
}

h2 {
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 11px;
}

.container-logo {
  display: flex;
  gap: 11px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.section-intro {
  padding-bottom: 80px;
}

.section-event {
  background: #d5dce4;
  color: #0d0c11;
  padding: 80px 0;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  .title-box {
    padding: 13px 0 16px;
  }
  header {
    padding-bottom: 40px;
  }
  h2 {
    padding-bottom: 25px;
  }
  .section-intro {
    padding-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
